.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.avatar {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 20px;
    background-image: url('https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png');
    background-size: 30px 30px;
    background-position: center;
}

.name {
    width: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.friend {
    width: 60px;
}