.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
    width: 150px;
}

.item {
    color: navy;
    
}
.item a{
    text-decoration: none;
}

.item a.activeLink {
    color: gold;

}